*{padding:0;margin:0;}
html{color:#404040;font-size:12px;font-family:"Arial","微软雅黑";}
a{text-decoration:none;color:#1a66b3;}
ul{list-style:none;}
.left{float:left;}
.right{float:right;}
.hide{display:none;}
.clearfix{clear:both;overflow:hidden;height:0;}
.wrap{width:1200px;margin:0 auto;}

/**头部**/
.top{height:32px;background:#f9f9f9;padding-top:2px;line-height:32px;border-bottom:1px solid #f2f2f2}
.top,.top a{color:#646464;}
.top a:hover{color:#ff2832;}
.top-l .top-login{color:#ff2832;margin-right:5px;}
.top-m > li{float:left;height:22px;line-height:22px;padding-top:5px;}
.top-m > li.line{width:1px;height:12px;background:#e1e1e1;margin:10px 0 0;padding:0;}
.top-m > li  a{display:block;padding:0 8px;}
.top-m > li a.menu-btn{padding-right:27px;background:url(../img/home_sprite.png) no-repeat right -307px;}
.top-m > li a i{margin-right:6px;margin-top:3px;}
.top-m > li.on{position:relative;border:1px #e6e6e6 solid;background:#fff;}
.top-m ul.topDown{position:absolute;border:1px #e6e6e6 solid;border-top:0;width:100%;top:27px;left:-1px;background:#fff;}
.top-m ul.topDown li{line-height:24px;}
.top-m ul.topDown li a{display:block;padding-left:10px;color:#000;}
.top-m ul.topDown li a:hover{background:#f2f2f2;color:#000;}
.top-m .top-car{width:15px;height:14px;background:url(../img/home_sprite.png) no-repeat -40px -86px;}
.top-m .top-tel{width:11px;height:16px;background:url(../img/home_sprite.png) no-repeat -40px -70px;}
.nav-box{height:36px;line-height:36px;background:#ff2832;color:#fff;}
.nav-box li{float:left;}
.nav-box li a{display:block;padding:0 15px;color:#fff;font-weight:bold;font-size:14px;}
.nav-box li a:hover{background:#f01e28;}
.nav-box .all{width:190px;border:2px # solid;border-width:0 2px;margin-right:18px;}
.nav-box .all a,.nav-box .all a:hover{padding-left:20px;padding-right:0;background:url(../img/home_sprite.png) no-repeat 161px -567px;}
.nav-box li.on{position:relative;}
.nav-box li .topDown{position:absolute;width:120px;background:#fff;top:24px;left:0;}
/**中间第一部分**/
/**左侧**/
.sec1{margin-top:20px;}
.sec1-l{width:190px;margin-right:10px;}
.secl-story{border:1px #487a6f solid;}
.secl-story h2{text-align:center;font-size:18px;height:35px;line-height:35px;color:#fff;background:#487a6f;}
.sec1-list{border-top:2px #487a6f dotted;}
.sec1-list li .li-wrap{padding:0 10px;}
.sec1-list li .box{border-bottom:1px #487a6f dotted;padding:5px 0;}
.sec1-list .last-li .box{border:0 none;}
.sec1-list li .box h3{line-height:24px;}
.sec1-list li .box h3 a,.sec1-list li .box h3 span{font-size:14px;color:#487a6f;}
.sec1-list li .box h3 a:hover{color:#e47100;}
.sec1-list li .child a,.sec1-list li .child span{float:left;margin-top:5px;}
.sec1-list li .child a{font-size:12px;color:#666;}
.sec1-list li .child a:hover{color:#ff2832;text-decoration:underline;}
.sec1-list li .child span{margin-right:5px;margin-left:5px;}
/**悬浮 样式**/
.sec1-list li.on{position:relative;}
.sec1-list li.on .li-wrap{position:relative;width:169px;z-index:3;border:1px #487a6f solid;border-width:1px 0;background:#fff;}
.sec1-list li.on .box{border:0 none;padding-top:4px;}
.sec1-list li .second-box{width:550px;position:absolute;background:#fff;z-index:2;border:1px #487a6f solid;padding:5px 20px 20px;top:0;left:188px;}
.second-box dl{border-bottom:1px #d7d7d7 dotted;padding:5px 0 10px;}
.second-box dl dt{margin-right:20px;margin-top:8px;}
.second-box dl dd{width:503px;}
.second-box dl dt,.second-box dl dd,.second-box dl dd a{float:left;}
.second-box dl dt a{color:#487a6f;font-weight:bold;}
.second-box dl dd a{margin-right:8px;margin-top:8px;color:#000;}
.second-box dl dt a:hover{color:#e47100;}
.second-box dl dd a:hover{color:#ff2832;text-decoration:underline;}
/**中间**/
.sec1-m{width:750px;margin-right:10px;}
.focus{position:relative;height:315px;}
.focus .page{position:absolute;bottom:15px;right:20px;}
.page li{float:left;width:21px;height:21px;margin-right:10px;text-align:center;line-height:20px;border-radius:50%;font-size:14px;color:#000;background:#fff;cursor:pointer;}
.page li.on{background:#ff4848;color:#fff;}
/**新书上架**/
.book-sale{overflow:hidden;}
.book-sale h2{height:43px;background:url(../img/new_book.png) no-repeat;margin-top:10px;}
.book-sale ul{padding-top:10px;margin-right:-50px;}
.book-sale ul li{position:relative;float:left;height:250px;width:150px;margin-right:47px;margin-top:16px;}
.book-sale li .book-abso{position:absolute;display:block;width:56px;height:56px;background:url(../img/xsq.png) no-repeat;top:-5px;right:-5px;}
.book-sale li .book-name{height:36px;line-height:1.6;padding:7px 20px 0;}
.book-sale li .book-name a{color:#000;}
.book-sale li .book-name a:hover{color:#ff2832;text-decoration:underline;}
.book-sale li .name{color:#aaa;line-height:24px;padding:0 20px;}
.book-sale li .price{font-weight:bold;font-size:14px;padding-left:20px;}
.book-sale li .new-price{color:#c30000;margin-right:10px;}
.book-sale li .old-price{color:#aaa;text-decoration:line-through;}
/**右侧**/
.sec1-r{width:240px;}
.common{border:1px #eaeaea solid;padding-bottom:5px;}
.common h2{font-size:16px;padding:8px 10px 5px;color:#000;line-height:16px;}
.new-ad ul{padding:0 10px;}
.new-ad li{padding-left:8px;line-height:22px;background:url(../img/sprite.png) no-repeat -16px -160px;}
.new-ad li a{color:#000;}
.new-ad li a:hover{color:#ff2832;text-decoration:underline;}
/**新书预售**/
.new-book{margin-top:10px;}
.new-book h2 a{float:right;color:#5097bc;font-size:12px;font-weight:normal;}
.new-book h2 a:hover{text-decoration:underline;}
.slid-box{position:relative;margin-top:15px;}
.prev-btn,.next-btn{position:absolute;top:50%;margin-top:-25px;width:25px;height:50px;background:url(../img/book_fanye_btn.png) no-repeat;}
.prev-btn{left:0;}
.next-btn{right:0;background-position:-26px 0;}
.prev-btn:hover{background-position:0 -51px;}
.next-btn:hover{background-position:-26px -51px;}
.common-ul .book-info{width:100px;}
.book-info .book-name{width:100%;margin-top:20px;height:44px;overflow:hidden;line-height:1.7;}
.book-info .book-name a{color:#000;}
.book-info .book-name a:hover{text-decoration:underline;color:#ff2832;}
.book-info .now-price,.book-info .old-price{font-weight:bold;font-size:14px;}
.book-info .now-price{color:#c30000;}
.book-info .old-price{color:#aaa;text-decoration:line-through;}
.new-book .page-box{text-align:center;font-size:0;margin:10px 0 8px;}
.page-box li{display:inline-block;margin-right:8px;width:10px;height:10px;background:#b4b4b4;border-radius:50%;cursor:pointer;}
.page-box li.on{background:#316386;}
/**新书热卖**/
.hot-new-book h2{font-size:16px;color:#000;padding-left:34px;margin-top:10px;height:40px;line-height:40px;background:url(../img/sprite.png) no-repeat 5px 4px;}
.hot-book-box{border:1px #eaeaea solid;}
.hot-book-top a{float:left;width:20%;text-align:center;color:#666;box-sizing:border-box;height:22px;line-height:22px;border-width:0 1px 1px 0;border-style:solid;border-color:transparent #eaeaea #eaeaea transparent;}
.hot-book-top a.on{border-bottom:0 none;font-weight:bold;color:#096;text-decoration:underline;}
.hot-book-top a.last-child{border-right:0 none;}
.hot-book-box .hot-book-list{padding:0 10px 10px;}
.hot-book-list li{position:relative;border-bottom:1px #eaeaea dotted;padding:10px 0 10px 10px;}
.hot-book-list li .ph-num{position:absolute;left:0;top:10px;font-size:16px;color:#000;}
.hot-book-list li .top-ph{color:#d10000;}
.hot-book-list .book-info{width:60px;}
.hot-book-list .book-info .book-name{margin-top:10px;}
.hot-book-list .book-info .comment{margin-top:5px;}
.hot-book-list .book-info .comment a{color:#487a6f;}
.hot-book-list .book-info .comment a:hover{text-decoration:underline;}
.hot-book-list li .less-name{padding-left:15px;line-height:20px;}
.hot-book-list li.last-child{border:0 none;text-align:right;}
.hot-book-list li.last-child a{color:#5097bc;}
.hot-book-list li.last-child a:hover{text-decoration:underline;}
/***底部***/
.footer-box{border-top:1px #d7d7d7 solid;margin-top:45px;padding-top:20px;}
.footer{text-align:center;}
.footer,.footer a{color:#8c8c8c;font-size:12px;}
.footer a:hover{color:#ff2832;text-decoration:underline;}
.footer .foot-link{margin-bottom:20px;}
.footer .foot-link span{margin:0 14px;}